<div id='message-list' class='row'>
</div>

<div class='row' form-group>
  <div class='col-med-3'>
    <input id='name' type='text' class='form-control' placeholder='Name'/>
  </div>
  <div class='col-med-9'>
    <input id='message' type='text' class='form-control' olaceholder='Message' />
  </div>
</div>
